@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');


:root {
    --fuente-nav: 'Abril Fatface', cursive;
}

body {
    background-color: #FFF8F9;
}

.nav {
    font-family: var(--fuente-nav);
    font-size: 30px;
}

#container{
    float: left;
    width: 50%;
    margin-top: 15%;
}

#imagen{
    float: left;
    width: 50%;
}

#mensajes{
    width: 130%;
    margin-left: 10%;
}

img{
    margin-top: 40%;
    margin-left: 6%;
    width: 80%;
}

#usuarios{
    margin-left: 20%;
}

#titulo{
    position: absolute;
    width: 50%;
    margin-top: 4%;
    margin-left: 25%;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 86px;
    text-align: center;

    color: #000000;
}